

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray:#707070;
$white:#FFFFFF;
$black:#333333;
$gold:gold;

//media query
$pc:1025;
$pad:1024;
$phone:767;
:export {
    phone:$phone;
    pad:$pad;
    pc:$pc;
}
@mixin pc {
    @media(min-width: ($pc+"px")){@content;}
}
@mixin pad {
    @media(max-width: ($pad+"px")){@content;}
}
@mixin phone {
    @media(max-width: ($phone+"px")){@content;}
}

@font-face {
    font-family: 'myfont';   
    src: url('/fonts/Harenosora.otf') format('opentype');
}

$containerWidthPc:1140px;
$containerWidthPad:960px;
$containerWidthPhone:100vw;
// Font Size
.txt_XL{
    @include pc{font-size: 41px;} 
    @include pad{font-size: 60px;}
    @include phone{font-size: 30px;} 
}
.txt_L{
    @include pc{font-size: 22px;} 
    @include pad{font-size: 25px;}
    @include phone{font-size: 20px;}
}
.txt_M{
    @include pc{font-size: 24px;}
    @include pad{font-size: 20px;}
    @include phone{font-size: 14px;}
}
.txt_S{
    @include pc{font-size: 20px;} 
    @include pad{font-size: 18px;}
    @include phone{font-size: 10px;}
}
.txt_XS{
    @include pc{font-size: 16px;} 
    @include pad{font-size: 15px;}
    @include phone{font-size: 12px;} 
}
.txt_XXS{
    @include pc{font-size: 12px;}
    @include pad{font-size: 10px;}
    @include phone{font-size: 6px;}
}
.title_w{
    @include pc{font-size: 75px;} 
    @include pad{font-size: 80px;}
    @include phone{font-size: 40px;}
}
.title_B{
    @include pc{font-size: 50px;} 
    @include pad{font-size: 70px;}
    @include phone{font-size: 50px;}
}