html,body{
    touch-action: manipulation;
    height: 100%;
}
#app{
    height: 100%;
}
a{
    text-decoration: none;
    background-color:transparent;
    // color: $gray!important;
    -webkit-touch-callout:none;
}
body{
    &::before{

        @include pc{
            
            background-image: url("img/Top_pc.jpg");
        }
        @include pad{
    
            background-image: url("img/Top_pad.jpg");
        }
        @include phone{
            background-image: url("img/Top_phone.jpg");
        }
        content: "";
        display: block;
        z-index: -1;
        width: 100%;
        background-size: cover;
        position: fixed;
        background-repeat: no-repeat;
        height: 100vh;
    }
    overflow: hidden;

    #logo-area{
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    
        img{
            @include pc{
                width: 25%;
            }
            @include pad{
                width: 40%;
            }
            @include phone{
                width: 55%;
            }   
        }
        text-align: center;
    }
}