.favorite-button-area{
    width: 20%;
    text-align: right;

    i{
        transition: all .3s ease;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            
        }
    }
    .fas{
        color: $gold!important;
    }
}