main{
    height: 85%;
    position: absolute;
    top: 95%!important;
    background-color: $white;
    width: 100%;
    transition: 0.7s;
    
}
.open-category{
    top:15%!important;
}

.slide-fade-enter-active {
    transition: all .7s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
}
.tab-contents{
    height: 100%;
    margin: 5px;
    
    
    .tab-content{
        height: 100%;
        padding-bottom: 10%;
        overflow-y: scroll;
    }
}