html,body{
    touch-action: manipulation;
    height: 100%;
}
#app{
    height: 100%;
}
a{
    text-decoration: none;
    background-color:transparent;
    color: $gray!important;
}
body{
    &::before{

        @include pc{
            
            background-image: url("img/Top_pc.jpg");
        }
        @include pad{
    
            background-image: url("img/Top_pad.jpg");
        }
        @include phone{
            background-image: url("img/Top_phone.jpg");
        }
        content: "";
        display: block;
        z-index: -1;
        width: 100%;
        background-size: cover;
        position: fixed;
        background-repeat: no-repeat;
        height: 100vh;
    }
    overflow: hidden;
}
#loader{
    position: fixed;
    display: flex;
    align-items: center;
    .icon{
        width: 50px!important;
        height: 50px!important;
    }
}

header{
    position: fixed;
    .wrapper{
        position: relative;
    
        input{
            font-family: $font-family-sans-serif;
            color: $black;
            letter-spacing: 1px;
            line-height: 30px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            &:focus {
                outline: none !important;
                box-shadow: none;
            }
        }
        #search-icon{
            position: absolute;
            top: 7px;
            right: 25px;
            color: $blue;
        }
    }
}
#logo-area{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    img{
        @include pc{
            width: 25%;
        }
        @include pad{
            width: 40%;
        }
        @include phone{
            width: 55%;
        }   
    }
    text-align: center;
}
.open-close{
    position: fixed;
    @include pc{
        bottom: 50px;
        right: 20px;
    }
    @include pad{
        bottom: 80px;
        right: 20px;
    }
    @include phone{
        bottom: 40px;
        right: 15px;
    }  
    .btn--circle {
        width: 60px;
        height: 60px;
        padding: 0;
        background: #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

        .angle{
            transition: 0.3s;
            transform: rotate(405deg);
        }
    }

    .btn--circle i {
        font-size: 150%;
        line-height: 60px;
        -webkit-transition: all .3s;
        transition: all .3s;
        letter-spacing: 0;
    }
    .btn--circle:hover i {
        line-height: 55px;
    }
}
main{
    height: 85%;
    position: absolute;
    top: 95%;
    background-color: $white;
    width: 100%;
    transition: 0.7s;
    
}
.open-category{
    top:15%!important;
}

.slide-fade-enter-active {
    transition: all .7s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
}
.tab-contents{
    height: 100%;
    margin: 5px;
    
    
    .tab-content{
        height: 100%;
        padding-bottom: 10%;
        overflow-y: scroll;
    }
}
.nav-wrapper{
    top:15%;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar{display: none;}
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    background-color: $white;

    .nav{
        @include pc{
            width: 1440px;
        }
        @include pad{
            width: 1440px;
        }
        @include phone{
            width: 960px;
        }

        .nav-item{
            @include pc{
                width: 180px;
            }
            @include pad{
                width: 180px;
            }
            @include phone{
                width: 120px;
            }
            height: 100%;
            text-align: center;
            .nav-link{
                color: white!important;
            }
            .active{
                transform: scale(1.2);
            }
            
        }

        .contents-domestic{
            .nav-link{
                background-color: $red!important;
            }
        }
        .contents-overseas{
            .nav-link{
                background-color: $orange!important;
            }
        }
        .contents-economy{
            .nav-link{
                background-color: $yellow!important;
            }
        }
        .contents-technology{
            .nav-link{
                background-color: $green!important;
            }
        }
        .contents-sports{
            .nav-link{
                background-color: $teal!important;
            }
        }
        .contents-entertainment{
            .nav-link{
                background-color: $cyan!important;
            }
        }
        .contents-history{
            .nav-link{
                background-color: $indigo!important;
            }
        }
        .contents-favorite{
            .nav-link{
                background-color: $purple!important;
            }
        }
    }
}

.grid-containers{
    display: grid;
    grid-template-rows: repeat(auto-fill, 163px);
    grid-template-columns: repeat(auto-fill, 300px);
    @include phone{
        grid-template-columns: repeat(auto-fill, 150px);
    }
    justify-content: center;
    grid-auto-flow: dense;
    gap: 12px;
    margin-bottom: 2%;
    img{
        max-height: 338px;
        // min-height: 163px;
    }
}

