.modal-view{
    z-index: 100;
    position: fixed;
    height: 100vh;
    @include pc{

        background-color: rgba(112,112,112,0.7);
    }
    @include pad{
        background-color: rgba(112,112,112,0.7);
    }
    @include phone{
        background-color: rgba(0,0,0,0);
    }
    
}

.cube{
    transform: translateZ(calc(-1 * ($container-width-pc / 2))); 
    transform-style: preserve-3d;
    position: relative;

    .container-wrapper{
        position: absolute;
        transition: transform 1s;
    }

}

.modal-contents{
    align-items: center;
    position: relative;
    width: 100vw;
    transform:translate3d(0,0,0); //ここを追記
    @include pad{
        width: 960px;
    }
    @include phone{
        width:100vw;
    }
    .modal-header-close{
        position: absolute;
        top:10px;
        right: 30px;
        z-index: 200;
        i{
            color: whitesmoke;
            &:hover{
                cursor: pointer;
                opacity: .5;
            }
        }
    }
    
    .text-area{
        position: relative;
        height: 90%;
        background-color: $black;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        &::before{
            /* 透過した黒を重ねる */
            background-color: rgba(0,0,0,0.3);
            /* どの範囲に重ねるかを指定 */
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: ' ';
        }
        .movie-area{

            .end-roll{
                text-align: center;
                position: absolute;
                word-break: keep-all;
                overflow-wrap: break-word;
                color:floralwhite;
                line-height: 5;

            }
        }
        .modal-play-area{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 200;
            i{
                color: $white;
                &:hover{
                    cursor: pointer;
                    opacity: .5;
                }
            }
        }
        /* CSSアニメーションの設定 */
        
        $i: 1;

        @while $i <= 5 {
            @keyframes EndRoll#{$i} {
                0% {
                transform: translateY(33% * $i);
                }
                100% {
                transform: translateY(-100%);
                }
            }
            $i: $i + 1;
        }

        .paused-true{
            .movie{
                animation-play-state: paused!important;
            }
            
        }
    }
    .modal-footer-area{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10%;
        z-index: 200;
        position: inherit;
        background-color: rgb(35, 35, 35);
        color: whitesmoke;
        .topic-title{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis; /*Safari用*/
            -o-text-overflow: ellipsis; /*Opera用*/
        }
        .other-info{
            display: flex;
            .audio-info{
                white-space: normal;
                overflow: hidden;
                position: relative;
                display: flex;
                .cd-icon{
                    z-index: 250;
                    background-color: rgb(35, 35, 35);
                    i{
                        color: orange;
                        animation:2s linear infinite rotation1;
                    }
                }
                .cd-name{
                    white-space: nowrap;
                    animation:6s linear infinite rotation2;
                }
                @keyframes rotation1{
                    0%{ transform:rotate(0);}
                    100%{ transform:rotate(360deg); }
                }
                @keyframes rotation2 {
                    0% {transform: translateX(100%);}
                    100% {transform: translateX(-100%);}
                }
            }
            .manual-area{
                display: flex;
                justify-content: space-evenly;
                .speaker-icon{
                    i{
                        &:hover{
                            cursor: pointer;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    .change-button{
        @include phone{
            display: none;
        }
        position: absolute;
        transform: translateZ(100vw);
        top: 50%;
        i{
            color: whitesmoke;
            &:hover{
                cursor: pointer;
                opacity: .5;
            }
        }
    }
    .pre-button{
        left: -20px;
    }
    .next-button{
        right: -20px;
    }

}