.open-close{
    position: fixed;
    @include pc{
        bottom: 50px;
        right: 20px;
    }
    @include pad{
        bottom: 80px;
        right: 20px;
    }
    @include phone{
        bottom: 40px;
        right: 15px;
    }  
    .btn--circle {
        width: 60px;
        height: 60px;
        padding: 0;
        background: #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

        .angle{
            transition: 0.3s;
            transform: rotate(405deg);
        }
    }

    .btn--circle i {
        font-size: 150%;
        line-height: 60px;
        -webkit-transition: all .3s;
        transition: all .3s;
        letter-spacing: 0;
    }
    .btn--circle:hover i {
        line-height: 55px;
    }
}